@import "../../common/color.scss";

.home-spinner{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px;
}
.movie-list, .show-list {
    margin: 20px 0px;
    h2{
        color: $font-secondary;
        margin-bottom: 10px;
        font-weight: 400;
    }
}

h4{
    color: $font-primary;
   
}




 